flows/dev/ejemplo-sql_consultasqlserver.yml
id: consultasqlserver
namespace: ejemplo-sql 



tasks: 
  - id: query
    type: io.kestra.plugin.jdbc.sqlserver.Queries
    url: "jdbc:sqlserver://{{envs.sqlserver_host}}:{{envs.sqlserver_port}};databaseName=master;encrypt=true;trustServerCertificate=true"
    username: "{{ envs.sqlserver_user }}"
    password: "{{ envs.sqlserver_password }}"
    sql: select * from empleados;
    fetchType: FETCH 

  - id: mostrar
    type: io.kestra.plugin.core.debug.Return
    format: |
      Empleados: {{ outputs.query | toJson }}

 
  
