flows/dev/sql_ejecutar-python-sql.yml
id: ejecutar-python-sql
namespace: sql

tasks:  
  - id: hello    
    type: io.kestra.plugin.scripts.python.Commands
#    namespaceFiles:
#      enabled: true
#    commands:
#      - python hola.py
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - pip install -r /app/storage/python/requirements.txt
      - python /app/storage/python/hola.py
    outputFiles:
      - resultado.txt

  - id: mostrar-resultado
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - echo "Contenido del archivo generado:"
      - cat{{ outputs.hello.outputFiles['resultado.txt'] }}


